/                                                  @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec
/README.md                                         @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec @open-edge-platform/open-edge-platform-docs-write
/smart-classroom/docs/                             @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec @open-edge-platform/open-edge-platform-docs-write
/smart-classroom/README.md                         @avinash-palleti @unarayan @qianlongding @yunowo @BaoHuiling @xiaojingrich @yangjianfeng1208 @tingjiec @open-edge-platform/open-edge-platform-docs-write
LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel @open-edge-platform/open-edge-platform-docs-write
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel @open-edge-platform/open-edge-platform-docs-write
