.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  background-color: #f0f0f0;
  font-family: 'IntelOne Text', system-ui, Avenir, Helvetica, Arial, sans-serif;
  gap:24px
}

.navbar-left, .navbar-center, .navbar-right {
  display: flex;
  align-items: center;
}

.record-icon {
  margin-right: 15px;
  top: 2rem;
  width: 17px; /* Adjust size as needed */
  height: 15px;
}

.timer {
  margin-right: 20px;
  font-size: 16px;
}

.side-record-icon {
  margin-right: 20px;
  width: 25px; /* Adjust size as needed */
  height: 20px;
}

.text-button{
  font-weight: 500;
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #0071c5; 
  background:none; 
  border: none;
  padding: 10px 5px; 
  line-height: 16px;
  
} 

.text-button:hover{
  background: #e6e7e8;
}
.text-button:disabled{
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #f9f6f6;
  padding: 5px 10px;
  border: none;
}
.notifications-display {
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 10px;
}

.project-name-display {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  font-weight: 500;
}