.top-panel {
  position: sticky;
  top: 0;
  background-color: #0071c5; /* Classic Blue */
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0  2rem;
  box-sizing: border-box;
  z-index: 10;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

.brand-slot {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;
}

.logo {
  width: 5.5rem;
  height: 4rem;
  margin-right: 1rem;
}

.app-title {
  font-size: 1rem;
  color: white;
}

.action-slot {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}