fastapi==0.116.1
pydantic==2.11.7
PyYAML==6.0.2
uvicorn==0.35.0
python-multipart
pydub
openai-whisper
fsspec>=2023.1.0,<=2025.3.0
numpy>=1.26.4,<2
wmi
pywin32
openvino
optimum[openvino]
openvino-genai
funasr==1.2.7
modelscope==1.28.2
--extra-index-url https://download.pytorch.org/whl/xpu
torch==2.6.0+xpu
torchaudio==2.6.0+xpu
